* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

.container {
  background-color: #0077ffe7;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.text {
  width: 852px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #0075ff;
  height: 100vh;
}

.text h1 {
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  margin-top: -2em;
  margin-left: 214px;
  width: 608px;
  height: 214px;
  font-weight: bold;
  letter-spacing: 1px;
}

.text p {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  margin-top: 19px;
  margin-left: 214px;
  width: 461px;
  height: 130px;
}

.buttons {
  display: flex;
  margin-left: 214px;
}

.cta-one {
  height: 45px;
  width: 156px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: 0.2s ease-in;
}

.cta-two {
  height: 45px;
  width: 169px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-left: 40px;
  transition: 0.2s ease-in;
}

.cta-one,
.cta-two span {
  font-size: 18px;
  font-weight: 400;
  color: #0058db;
}

.social-link-icons {
  display: flex;
  margin-left: 210px;
  position: absolute;
  margin-top: 50rem;
}

.instagram {
  height: 40px;
  width: 40px;
}

.facebook {
  height: 40px;
  width: 40px;
  margin-left: 2.5em;
}
.twitter {
  height: 40px;
  width: 40px;
  margin-left: 2.5em;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle1 {
  position: absolute;
  height: 240px;
  width: 240px;
  background: #4d9fffd9;
  z-index: 1;
  opacity: 0.6;
  border-radius: 50%;
  top: 188px;
  right: 5%;
  -webkit-filter: blur(5px);
}
.circle2 {
  position: absolute;
  height: 240px;
  width: 240px;
  background: #4d9fffd9;
  z-index: 1;
  opacity: 0.6;
  border-radius: 50%;
  bottom: 188px;
  left: 51%;
  -webkit-filter: blur(5px);
}

.card {
  height: 393px;
  width: 622px;
  background: rgba(206, 206, 206, 28%);
  backdrop-filter: blur(25px);
  border: 2px solid #fff;
  border-radius: 35px;
  padding: 2em;
  margin-left: 15rem;
  z-index: 1;
  color: #fff;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-head h1 {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2;
  font-family: "Open Sans", sans-serif;
}

.logo {
  margin-top: 1.5rem;
  margin-right: 2.6rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 8rem;
}

.card-details h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.card-details h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 78%);
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 450px) {
  body {
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .text {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  .text h1 {
    font-size: 31px;
    margin: 0;
    width: 100%;
    line-height: 1.3;
    text-align: center;
  }

  .text p {
    font-size: 15px;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: -6em;
  }

  .buttons {
    margin: 0;
    margin-left: 1em;
    margin-top: -2em;
  }

  .cta-one {
    height: 40px;
    width: 120px;
    padding: 0;
    padding-top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cta-one span {
    font-size: 16px;
  }
  .cta-two {
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: 2em;
  }

  .cta-two span {
    font-size: 16px;
  }

  .social-link-icons {
    position: relative;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .instagram,
  .facebook,
  .twitter {
    margin-left: 0.8em;
  }

  .circle1 {
    top: 70%;
    height: 180px;
    width: 180px;
    right: -4%;
  }
  .circle2 {
    top: 100%;
    height: 180px;
    width: 180px;
    left: -4%;
  }

  .card-section {
    height: 400px;
    width: 100%;
    margin-top: 10rem;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 330px;
    height: 220px;
    margin: 0;
    border-radius: 20px;
    margin-top: -15em;
  }

  .card-head {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .card-head h1 {
    font-size: 17px;
    margin: 0;
  }

  .logo {
    margin: 0;
    height: 27px;
    width: 27px;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 70px;
  }

  .card-details h1 {
    font-size: 24px;
  }

  .card-details h2 {
    font-size: 24px;
  }
}
